adminapi/HELP.md
adminapi/target/
adminapi/!.mvn/wrapper/maven-wrapper.jar
adminapi/!**/src/main/**/target/
adminapi/!**/src/test/**/target/
/.venv/
__pycache__/
backend2/*/__pycache__/
### STS ###
adminapi/.apt_generated
adminapi/.classpath
adminapi/.factorypath
adminapi/.project
adminapi/.settings
adminapi/.springBeans
adminapi/.sts4-cache

### IntelliJ IDEA ###
adminapi/.idea
adminapi/*.iws
adminapi/*.iml
adminapi/*.ipr

# Logs
frontend/logs
*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
*.local

# Editor directories and files
frontend/.vscode/*
!.vscode/extensions.json

**/serviceAccountKey.json