@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@theme {
    --color-whitesmoke: oklch(97.02% 0 0);
    --color-med-gray: oklch(27.68% 0 0);
    --font-figtree: "Figtree", sans;
}
